# Modularizing DHSAlumni Data

In [1]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Custom Owner Metadata Dictionary

owners_dict = {"owner_id": [1, 2, 3, 5, 6, 7, 8, 9, 11, 12],
               "owner_name": ["Zwick", "Treshansky", "Lirtzman", "Klein", "Rosenberg", "Katz", "J.Stein", "Berkowitz", 
                              "Kogan", "B.Stein/Kaminski"]}

owners_df = pd.DataFrame(owners_dict)
owners_df

   owner_id        owner_name
0         1             Zwick
1         2        Treshansky
2         3          Lirtzman
3         5             Klein
4         6         Rosenberg
5         7              Katz
6         8           J.Stein
7         9         Berkowitz
8        11             Kogan
9        12  B.Stein/Kaminski

In [3]:
#Additional Parameters for Pinging API

league_id = 470074
years = [2012, 2013, 2014, 2015, 2016, 2017, 2018]
#url = "https://fantasy.espn.com/apis/v3/games/ffl/leagueHistory/" + \
      #str(league_id) + "?seasonId=" + str(year)

In [4]:
#Empty Matchup Dataframe
matchups = pd.DataFrame()

In [5]:
for year in years:
    
    #Setting URL and cookie parameters
    url = "https://fantasy.espn.com/apis/v3/games/ffl/leagueHistory/" + str(league_id) + "?seasonId=" + str(year)
    swid = "{0E55E5A5-3637-4BE0-86CF-E2E39B9938C9}"
    espn_s2 = "AEAZNuutax36J%2BmmE9X0oeTTRyhq0DrK2gcqVGB7Cxc75XXs4TJxz73ekvnJdz33IFF4fJXslPhu" + \
          "n7SEmT9Q4c%2Fv1jXfA%2B4Kl6scPVRUks%2B5xLpe4XvomcuqovBxd6ZoSDpzoMJ%2FpjoUsuzVf" + \
          "lGKkdgv6ZlBsl%2Bc7s3VgBprIHx6juy5SV9ac3PVT%2F5Su%2FAb51g7p60Ebxw6Qi%2FaGj%2B7Y8sq4sPlNsqW32UXk2xJJH" + \
          "%2BP5%2B14PFH2ky%2BHeNwRewSBDMa3zsdLPlWnw9kbm6GLdvesu"
    
    #Hitting API and getting Matchup View
    r = requests.get(url, cookies={"swid": swid, "espn_s2": espn_s2}, params={"view": "mMatchup"})
    m = r.json()[0]
    
    game_lst = [[game['matchupPeriodId'], game['home']['teamId'], game['home']['totalPoints'],
                game['away']['teamId'], game['away']['totalPoints'], year] for game in m['schedule']]
    
    matchups = matchups.append(game_lst, ignore_index=True)

In [6]:
matchups.columns = ["Week", "HomeTeam", "HomeScore", "AwayTeam", "AwayScore", "Year"]
matchups["Type"] = ["Regular" if w <=14 else "Playoff" for w in matchups["Week"]]
matchups["AwayTeamOwner"] = matchups.AwayTeam.map(owners_df.owner_name)

In [7]:
matchups.head()

   Week  HomeTeam  HomeScore  AwayTeam  AwayScore  Year     Type AwayTeamOwner
0     1         2     143.40         1     146.60  2012  Regular    Treshansky
1     1        12     146.46         3     107.60  2012  Regular         Klein
2     1        11     118.46         5     140.56  2012  Regular          Katz
3     1         9     139.98         6     128.00  2012  Regular       J.Stein
4     1         8     126.36         7     131.32  2012  Regular     Berkowitz

In [8]:
matchups = matchups.drop(["AwayTeamOwner"], axis=1)

In [9]:
matchups.head()

   Week  HomeTeam  HomeScore  AwayTeam  AwayScore  Year     Type
0     1         2     143.40         1     146.60  2012  Regular
1     1        12     146.46         3     107.60  2012  Regular
2     1        11     118.46         5     140.56  2012  Regular
3     1         9     139.98         6     128.00  2012  Regular
4     1         8     126.36         7     131.32  2012  Regular

In [10]:
owners_df

   owner_id        owner_name
0         1             Zwick
1         2        Treshansky
2         3          Lirtzman
3         5             Klein
4         6         Rosenberg
5         7              Katz
6         8           J.Stein
7         9         Berkowitz
8        11             Kogan
9        12  B.Stein/Kaminski

In [11]:
merged = pd.merge(matchups, owners_df, how="left", left_on="AwayTeam", right_on="owner_id")
merged.head()

,Week,HomeTeam,HomeScore,AwayTeam,AwayScore,Year,Type,owner_id,owner_name
0,1,2,143.40,1,146.60,2012,Regular,1,Zwick
1,1,12,146.46,3,107.60,2012,Regular,3,Lirtzman
2,1,11,118.46,5,140.56,2012,Regular,5,Klein
3,1,9,139.98,6,128.00,2012,Regular,6,Rosenberg
4,1,8,126.36,7,131.32,2012,Regular,7,Katz

In [12]:
merged = merged.drop(["owner_id"], axis=1)

In [13]:
merged.head()

   Week  HomeTeam  HomeScore  AwayTeam  AwayScore  Year     Type owner_name
0     1         2     143.40         1     146.60  2012  Regular      Zwick
1     1        12     146.46         3     107.60  2012  Regular   Lirtzman
2     1        11     118.46         5     140.56  2012  Regular      Klein
3     1         9     139.98         6     128.00  2012  Regular  Rosenberg
4     1         8     126.36         7     131.32  2012  Regular       Katz

In [14]:
merged = merged.rename(columns={"owner_name": "AwayTeamName"})
merged.head()

   Week  HomeTeam  HomeScore  AwayTeam  AwayScore  Year     Type AwayTeamName
0     1         2     143.40         1     146.60  2012  Regular        Zwick
1     1        12     146.46         3     107.60  2012  Regular     Lirtzman
2     1        11     118.46         5     140.56  2012  Regular        Klein
3     1         9     139.98         6     128.00  2012  Regular    Rosenberg
4     1         8     126.36         7     131.32  2012  Regular         Katz

In [15]:
merged2 = pd.merge(merged, owners_df, how="left", left_on="HomeTeam", right_on="owner_id")
merged2.head()

,Week,HomeTeam,HomeScore,AwayTeam,AwayScore,Year,Type,AwayTeamName,owner_id,owner_name
0,1,2,143.40,1,146.60,2012,Regular,Zwick,2,Treshansky
1,1,12,146.46,3,107.60,2012,Regular,Lirtzman,12,B.Stein/Kaminski
2,1,11,118.46,5,140.56,2012,Regular,Klein,11,Kogan
3,1,9,139.98,6,128.00,2012,Regular,Rosenberg,9,Berkowitz
4,1,8,126.36,7,131.32,2012,Regular,Katz,8,J.Stein

In [16]:
merged2 = merged2.drop(["owner_id"], axis=1)

In [17]:
merged2 = merged2.rename(columns={"owner_name": "HomeTeamName"})

In [18]:
merged2.head()

,Week,HomeTeam,HomeScore,AwayTeam,AwayScore,Year,Type,AwayTeamName,HomeTeamName
0,1,2,143.40,1,146.60,2012,Regular,Zwick,Treshansky
1,1,12,146.46,3,107.60,2012,Regular,Lirtzman,B.Stein/Kaminski
2,1,11,118.46,5,140.56,2012,Regular,Klein,Kogan
3,1,9,139.98,6,128.00,2012,Regular,Rosenberg,Berkowitz
4,1,8,126.36,7,131.32,2012,Regular,Katz,J.Stein

In [19]:
merged2["Winner"] = np.where(merged2["HomeScore"] > merged2["AwayScore"], merged2["HomeTeamName"], merged2["AwayTeamName"])
merged2["Loser"] = np.where(merged2["HomeScore"] > merged2["AwayScore"], merged2["AwayTeamName"], merged2["HomeTeamName"])

In [20]:
merged2

,Week,HomeTeam,HomeScore,AwayTeam,AwayScore,Year,Type,AwayTeamName,HomeTeamName,Winner,Loser
0,1,2,143.40,1,146.60,2012,Regular,Zwick,Treshansky,Zwick,Treshansky
1,1,12,146.46,3,107.60,2012,Regular,Lirtzman,B.Stein/Kaminski,B.Stein/Kaminski,Lirtzman
2,1,11,118.46,5,140.56,2012,Regular,Klein,Kogan,Klein,Kogan
3,1,9,139.98,6,128.00,2012,Regular,Rosenberg,Berkowitz,Berkowitz,Rosenberg
4,1,8,126.36,7,131.32,2012,Regular,Katz,J.Stein,Katz,J.Stein
5,2,1,137.74,3,113.66,2012,Regular,Lirtzman,Zwick,Zwick,Lirtzman
6,2,5,128.36,2,126.10,2012,Regular,Treshansky,Klein,Klein,Treshansky
7,2,6,180.44,12,125.86,2012,Regular,B.Stein/Kaminski,Rosenberg,Rosenberg,B.Stein/Kaminski
8,2,7,173.50,11,124.94,2012,Regular,Kogan,Katz,Katz,Kogan
9,2,8,86.88,9,123.92,2012,Regular,Berkowitz,J.Stein,Berkowitz,J.Stein
10,3,5,182.72,1,153.44,2012,Regular,Zwick,Klein,Klein,Zwick
11,3,3,106.58,6,152.00,2012,Regular,Rosenberg,Lirtzman,Rosenberg,Lirtzman
12,3,2,139.90,7,79.74,2012,Regular,Katz,Treshansky,Treshansky,Katz
13,3,12,130.42,8,111.92,2012,Regular,J.Stein,B.Stein/Kaminski,B.Stein/Kaminski,J.Stein
14,3,11,115.88,9,122.34,2012,Regular,Berkowitz,Kogan,Berkowitz,Kogan
15,4,1,156.08,6,154.86,2012,Regular,Rosenberg,Zwick,Zwick,Rosenberg
16,4,7,139.34,5,154.28,2012,Regular,Klein,Katz,Klein,Katz
17,4,8,175.70,3,150.10,2012,Regular,Lirtzman,J.Stein,J.Stein,Lirtzman
18,4,9,90.52,2,130.52,2012,Regular,Treshansky,Berkowitz,Treshansky,Berkowitz
19,4,11,121.38,12,185.80,2012,Regular,B.Stein/Kaminski,Kogan,B.Stein/Kaminski,Kogan
20,5,7,181.48,1,95.38,2012,Regular,Zwick,Katz,Katz,Zwick
21,5,6,116.84,8,127.00,2012,Regular,J.Stein,Rosenberg,J.Stein,Rosenberg
22,5,5,170.54,9,144.68,2012,Regular,Berkowitz,Klein,Klein,Berkowitz
23,5,3,150.30,11,143.28,2012,Regular,Kogan,Lirtzman,Lirtzman,Kogan
24,5,2,132.26,12,114.68,2012,Regular,B.Stein/Kaminski,Treshansky,Treshansky,B.Stein/Kaminski
25,6,1,143.54,8,129.64,2012,Regular,J.Stein,Zwick,Zwick,J.Stein
26,6,9,152.92,7,123.98,2012,Regular,Katz,Berkowitz,Berkowitz,Katz
27,6,11,107.32,6,154.70,2012,Regular,Rosenberg,Kogan,Rosenberg,Kogan
28,6,12,93.90,5,148.20,2012,Regular,Klein,B.Stein/Kaminski,Klein,B.Stein/Kaminski
29,6,2,93.58,3,135.34,2012,Regular,Lirtzman,Treshansky,Lirtzman,Treshansky
...,...,...,...,...,...,...,...,...,...,...,...
530,11,7,177.00,12,102.72,2018,Regular,B.Stein/Kaminski,Katz,Katz,B.Stein/Kaminski
531,11,6,119.66,2,142.98,2018,Regular,Treshansky,Rosenberg,Treshansky,Rosenberg
532,11,8,102.12,1,189.16,2018,Regular,Zwick,J.Stein,Zwick,J.Stein
533,11,11,145.10,5,97.46,2018,Regular,Klein,Kogan,Kogan,Klein
534,11,9,161.20,3,114.32,2018,Regular,Lirtzman,Berkowitz,Berkowitz,Lirtzman
535,12,12,177.44,2,199.64,2018,Regular,Treshansky,B.Stein/Kaminski,Treshansky,B.Stein/Kaminski
536,12,1,162.14,7,160.06,2018,Regular,Katz,Zwick,Zwick,Katz
537,12,5,121.26,6,147.08,2018,Regular,Rosenberg,Klein,Rosenberg,Klein
538,12,3,122.54,8,115.02,2018,Regular,J.Stein,Lirtzman,Lirtzman,J.Stein
539,12,9,127.10,11,128.20,2018,Regular,Kogan,Berkowitz,Kogan,Berkowitz
540,13,1,155.10,12,144.90,2018,Regular,B.Stein/Kaminski,Zwick,Zwick,B.Stein/Kaminski
541,13,2,151.72,5,93.28,2018,Regular,Klein,Treshansky,Treshansky,Klein
542,13,7,155.30,3,150.88,2018,Regular,Lirtzman,Katz,Katz,Lirtzman
543,13,6,105.22,9,84.20,2018,Regular,Berkowitz,Rosenberg,Rosenberg,Berkowitz
544,13,8,125.40,11,151.84,2018,Regular,Kogan,J.Stein,Kogan,J.Stein
545,14,12,97.52,5,134.12,2018,Regular,Klein,B.Stein/Kaminski,Klein,B.Stein/Kaminski
546,14,3,156.92,1,137.88,2018,Regular,Zwick,Lirtzman,Lirtzman,Zwick
547,14,9,117.02,2,161.04,2018,Regular,Treshansky,Berkowitz,Treshansky,Berkowitz
548,14,11,92.70,7,159.20,2018,Regular,Katz,Kogan,Katz,Kogan
549,14,8,124.40,6,132.76,2018,Regular,Rosenberg,J.Stein,Rosenberg,J.Stein
550,15,7,96.22,12,155.72,2018,Playoff,B.Stein/Kaminski,Katz,B.Stein/Kaminski,Katz
551,15,2,111.50,9,140.50,2018,Playoff,Berkowitz,Treshansky,Berkowitz,Treshansky
552,15,1,91.80,6,97.86,2018,Playoff,Rosenberg,Zwick,Rosenberg,Zwick
553,15,8,87.02,11,98.10,2018,Playoff,Kogan,J.Stein,Kogan,J.Stein
554,15,3,145.58,5,122.18,2018,Playoff,Klein,Lirtzman,Lirtzman,Klein
555,16,9,169.28,12,167.96,2018,Playoff,B.Stein/Kaminski,Berkowitz,Berkowitz,B.Stein/Kaminski
556,16,7,165.20,2,171.04,2018,Playoff,Treshansky,Katz,Treshansky,Katz
557,16,6,115.98,11,44.54,2018,Playoff,Kogan,Rosenberg,Rosenberg,Kogan
558,16,1,154.22,3,154.10,2018,Playoff,Lirtzman,Zwick,Zwick,Lirtzman
559,16,8,99.40,5,125.60,2018,Playoff,Klein,J.Stein,Klein,J.Stein

In [21]:
regular_season = merged2[merged2["Type"] == "Regular"]
regular_season

,Week,HomeTeam,HomeScore,AwayTeam,AwayScore,Year,Type,AwayTeamName,HomeTeamName,Winner,Loser
0,1,2,143.40,1,146.60,2012,Regular,Zwick,Treshansky,Zwick,Treshansky
1,1,12,146.46,3,107.60,2012,Regular,Lirtzman,B.Stein/Kaminski,B.Stein/Kaminski,Lirtzman
2,1,11,118.46,5,140.56,2012,Regular,Klein,Kogan,Klein,Kogan
3,1,9,139.98,6,128.00,2012,Regular,Rosenberg,Berkowitz,Berkowitz,Rosenberg
4,1,8,126.36,7,131.32,2012,Regular,Katz,J.Stein,Katz,J.Stein
5,2,1,137.74,3,113.66,2012,Regular,Lirtzman,Zwick,Zwick,Lirtzman
6,2,5,128.36,2,126.10,2012,Regular,Treshansky,Klein,Klein,Treshansky
7,2,6,180.44,12,125.86,2012,Regular,B.Stein/Kaminski,Rosenberg,Rosenberg,B.Stein/Kaminski
8,2,7,173.50,11,124.94,2012,Regular,Kogan,Katz,Katz,Kogan
9,2,8,86.88,9,123.92,2012,Regular,Berkowitz,J.Stein,Berkowitz,J.Stein
10,3,5,182.72,1,153.44,2012,Regular,Zwick,Klein,Klein,Zwick
11,3,3,106.58,6,152.00,2012,Regular,Rosenberg,Lirtzman,Rosenberg,Lirtzman
12,3,2,139.90,7,79.74,2012,Regular,Katz,Treshansky,Treshansky,Katz
13,3,12,130.42,8,111.92,2012,Regular,J.Stein,B.Stein/Kaminski,B.Stein/Kaminski,J.Stein
14,3,11,115.88,9,122.34,2012,Regular,Berkowitz,Kogan,Berkowitz,Kogan
15,4,1,156.08,6,154.86,2012,Regular,Rosenberg,Zwick,Zwick,Rosenberg
16,4,7,139.34,5,154.28,2012,Regular,Klein,Katz,Klein,Katz
17,4,8,175.70,3,150.10,2012,Regular,Lirtzman,J.Stein,J.Stein,Lirtzman
18,4,9,90.52,2,130.52,2012,Regular,Treshansky,Berkowitz,Treshansky,Berkowitz
19,4,11,121.38,12,185.80,2012,Regular,B.Stein/Kaminski,Kogan,B.Stein/Kaminski,Kogan
20,5,7,181.48,1,95.38,2012,Regular,Zwick,Katz,Katz,Zwick
21,5,6,116.84,8,127.00,2012,Regular,J.Stein,Rosenberg,J.Stein,Rosenberg
22,5,5,170.54,9,144.68,2012,Regular,Berkowitz,Klein,Klein,Berkowitz
23,5,3,150.30,11,143.28,2012,Regular,Kogan,Lirtzman,Lirtzman,Kogan
24,5,2,132.26,12,114.68,2012,Regular,B.Stein/Kaminski,Treshansky,Treshansky,B.Stein/Kaminski
25,6,1,143.54,8,129.64,2012,Regular,J.Stein,Zwick,Zwick,J.Stein
26,6,9,152.92,7,123.98,2012,Regular,Katz,Berkowitz,Berkowitz,Katz
27,6,11,107.32,6,154.70,2012,Regular,Rosenberg,Kogan,Rosenberg,Kogan
28,6,12,93.90,5,148.20,2012,Regular,Klein,B.Stein/Kaminski,Klein,B.Stein/Kaminski
29,6,2,93.58,3,135.34,2012,Regular,Lirtzman,Treshansky,Lirtzman,Treshansky
...,...,...,...,...,...,...,...,...,...,...,...
520,9,8,159.28,12,99.18,2018,Regular,B.Stein/Kaminski,J.Stein,J.Stein,B.Stein/Kaminski
521,9,11,129.02,6,111.66,2018,Regular,Rosenberg,Kogan,Kogan,Rosenberg
522,9,9,173.16,7,128.54,2018,Regular,Katz,Berkowitz,Berkowitz,Katz
523,9,3,126.22,2,154.36,2018,Regular,Treshansky,Lirtzman,Treshansky,Lirtzman
524,9,5,149.40,1,128.60,2018,Regular,Zwick,Klein,Klein,Zwick
525,10,12,148.34,6,163.40,2018,Regular,Rosenberg,B.Stein/Kaminski,Rosenberg,B.Stein/Kaminski
526,10,7,147.60,8,131.78,2018,Regular,J.Stein,Katz,Katz,J.Stein
527,10,2,208.26,11,139.54,2018,Regular,Kogan,Treshansky,Treshansky,Kogan
528,10,1,145.84,9,171.10,2018,Regular,Berkowitz,Zwick,Berkowitz,Zwick
529,10,5,123.04,3,94.62,2018,Regular,Lirtzman,Klein,Klein,Lirtzman
530,11,7,177.00,12,102.72,2018,Regular,B.Stein/Kaminski,Katz,Katz,B.Stein/Kaminski
531,11,6,119.66,2,142.98,2018,Regular,Treshansky,Rosenberg,Treshansky,Rosenberg
532,11,8,102.12,1,189.16,2018,Regular,Zwick,J.Stein,Zwick,J.Stein
533,11,11,145.10,5,97.46,2018,Regular,Klein,Kogan,Kogan,Klein
534,11,9,161.20,3,114.32,2018,Regular,Lirtzman,Berkowitz,Berkowitz,Lirtzman
535,12,12,177.44,2,199.64,2018,Regular,Treshansky,B.Stein/Kaminski,Treshansky,B.Stein/Kaminski
536,12,1,162.14,7,160.06,2018,Regular,Katz,Zwick,Zwick,Katz
537,12,5,121.26,6,147.08,2018,Regular,Rosenberg,Klein,Rosenberg,Klein
538,12,3,122.54,8,115.02,2018,Regular,J.Stein,Lirtzman,Lirtzman,J.Stein
539,12,9,127.10,11,128.20,2018,Regular,Kogan,Berkowitz,Kogan,Berkowitz
540,13,1,155.10,12,144.90,2018,Regular,B.Stein/Kaminski,Zwick,Zwick,B.Stein/Kaminski
541,13,2,151.72,5,93.28,2018,Regular,Klein,Treshansky,Treshansky,Klein
542,13,7,155.30,3,150.88,2018,Regular,Lirtzman,Katz,Katz,Lirtzman
543,13,6,105.22,9,84.20,2018,Regular,Berkowitz,Rosenberg,Rosenberg,Berkowitz
544,13,8,125.40,11,151.84,2018,Regular,Kogan,J.Stein,Kogan,J.Stein
545,14,12,97.52,5,134.12,2018,Regular,Klein,B.Stein/Kaminski,Klein,B.Stein/Kaminski
546,14,3,156.92,1,137.88,2018,Regular,Zwick,Lirtzman,Lirtzman,Zwick
547,14,9,117.02,2,161.04,2018,Regular,Treshansky,Berkowitz,Treshansky,Berkowitz
548,14,11,92.70,7,159.20,2018,Regular,Katz,Kogan,Katz,Kogan
549,14,8,124.40,6,132.76,2018,Regular,Rosenberg,J.Stein,Rosenberg,J.Stein

In [22]:
regular_season["Winner"].value_counts()

Katz                60
Zwick               60
Berkowitz           56
J.Stein             54
Klein               53
B.Stein/Kaminski    47
Treshansky          46
Lirtzman            45
Rosenberg           41
Kogan               28
Name: Winner, dtype: int64

In [23]:
regular_season["Loser"].value_counts()

Kogan               70
Rosenberg           57
Lirtzman            53
Treshansky          52
B.Stein/Kaminski    51
Klein               45
J.Stein             44
Berkowitz           42
Katz                38
Zwick               38
Name: Loser, dtype: int64

In [24]:
totals = pd.DataFrame(columns=["Wins", "Losses"])
totals

Empty DataFrame
Columns: [Wins, Losses]
Index: []

In [25]:
totals["Wins"] = regular_season["Winner"].value_counts()
totals

                  Wins Losses
Katz                60    NaN
Zwick               60    NaN
Berkowitz           56    NaN
J.Stein             54    NaN
Klein               53    NaN
B.Stein/Kaminski    47    NaN
Treshansky          46    NaN
Lirtzman            45    NaN
Rosenberg           41    NaN
Kogan               28    NaN

In [26]:
totals["Losses"] = regular_season["Loser"].value_counts()
totals

                  Wins  Losses
Katz                60      38
Zwick               60      38
Berkowitz           56      42
J.Stein             54      44
Klein               53      45
B.Stein/Kaminski    47      51
Treshansky          46      52
Lirtzman            45      53
Rosenberg           41      57
Kogan               28      70

## Total Regular Season Wins and Losses 2012-2018

In [27]:
totals

                  Wins  Losses
Katz                60      38
Zwick               60      38
Berkowitz           56      42
J.Stein             54      44
Klein               53      45
B.Stein/Kaminski    47      51
Treshansky          46      52
Lirtzman            45      53
Rosenberg           41      57
Kogan               28      70

In [28]:
regular_season.groupby(["Winner", "Loser"]).size()

Winner            Loser
B.Stein/Kaminski  Berkowitz            3
                  J.Stein              5
                  Katz                 5
                  Klein                5
                  Kogan               11
                  Lirtzman             6
                  Rosenberg            5
                  Treshansky           3
                  Zwick                4
Berkowitz         B.Stein/Kaminski     4
                  J.Stein              4
                  Katz                 5
                  Klein                7
                  Kogan                8
                  Lirtzman             6
                  Rosenberg            8
                  Treshansky          10
                  Zwick                4
J.Stein           B.Stein/Kaminski     7
                  Berkowitz            7
                  Katz                 5
                  Klein                6
                  Kogan                5
                  Lirtzman             7
                  Rosenberg            8
                  Treshansky           6
                  Zwick                3
Katz              B.Stein/Kaminski     6
                  Berkowitz            5
                  J.Stein              7
                                      ..
Lirtzman          Rosenberg            5
                  Treshansky           6
                  Zwick                8
Rosenberg         B.Stein/Kaminski     9
                  Berkowitz            2
                  J.Stein              3
                  Katz                 2
                  Klein                5
                  Kogan                7
                  Lirtzman             7
                  Treshansky           4
                  Zwick                2
Treshansky        B.Stein/Kaminski     7
                  Berkowitz            3
                  J.Stein              4
                  Katz                 5
                  Klein                7
                  Kogan                8
                  Lirtzman             4
                  Rosenberg            6
                  Zwick                2
Zwick             B.Stein/Kaminski     8
                  Berkowitz            7
                  J.Stein              7
                  Katz                 7
                  Klein                4
                  Kogan                5
                  Lirtzman             5
                  Rosenberg            9
                  Treshansky           8
Length: 89, dtype: int64

In [29]:
berk = regular_season[(regular_season["HomeTeamName"] == "Berkowitz") | (regular_season["AwayTeamName"] == "Berkowitz")]

In [30]:
berk

,Week,HomeTeam,HomeScore,AwayTeam,AwayScore,Year,Type,AwayTeamName,HomeTeamName,Winner,Loser
3,1,9,139.98,6,128.00,2012,Regular,Rosenberg,Berkowitz,Berkowitz,Rosenberg
9,2,8,86.88,9,123.92,2012,Regular,Berkowitz,J.Stein,Berkowitz,J.Stein
14,3,11,115.88,9,122.34,2012,Regular,Berkowitz,Kogan,Berkowitz,Kogan
18,4,9,90.52,2,130.52,2012,Regular,Treshansky,Berkowitz,Treshansky,Berkowitz
22,5,5,170.54,9,144.68,2012,Regular,Berkowitz,Klein,Klein,Berkowitz
26,6,9,152.92,7,123.98,2012,Regular,Katz,Berkowitz,Berkowitz,Katz
30,7,9,133.12,1,139.04,2012,Regular,Zwick,Berkowitz,Zwick,Berkowitz
36,8,12,162.96,9,142.12,2012,Regular,Berkowitz,B.Stein/Kaminski,B.Stein/Kaminski,Berkowitz
42,9,9,191.94,3,133.16,2012,Regular,Lirtzman,Berkowitz,Berkowitz,Lirtzman
48,10,6,168.58,9,156.46,2012,Regular,Berkowitz,Rosenberg,Rosenberg,Berkowitz
54,11,9,127.00,8,133.04,2012,Regular,J.Stein,Berkowitz,J.Stein,Berkowitz
59,12,9,142.46,11,120.88,2012,Regular,Kogan,Berkowitz,Berkowitz,Kogan
63,13,2,81.22,9,146.88,2012,Regular,Berkowitz,Treshansky,Berkowitz,Treshansky
67,14,9,134.76,5,88.64,2012,Regular,Klein,Berkowitz,Berkowitz,Klein
83,1,9,146.90,6,115.14,2013,Regular,Rosenberg,Berkowitz,Berkowitz,Rosenberg
89,2,8,151.54,9,136.82,2013,Regular,Berkowitz,J.Stein,J.Stein,Berkowitz
94,3,11,128.32,9,140.70,2013,Regular,Berkowitz,Kogan,Berkowitz,Kogan
98,4,9,159.72,2,144.42,2013,Regular,Treshansky,Berkowitz,Berkowitz,Treshansky
102,5,5,184.92,9,121.26,2013,Regular,Berkowitz,Klein,Klein,Berkowitz
106,6,9,132.28,7,140.88,2013,Regular,Katz,Berkowitz,Katz,Berkowitz
110,7,9,133.90,1,153.30,2013,Regular,Zwick,Berkowitz,Zwick,Berkowitz
116,8,12,80.04,9,138.02,2013,Regular,Berkowitz,B.Stein/Kaminski,Berkowitz,B.Stein/Kaminski
122,9,9,200.94,3,100.44,2013,Regular,Lirtzman,Berkowitz,Berkowitz,Lirtzman
128,10,6,132.36,9,139.48,2013,Regular,Berkowitz,Rosenberg,Berkowitz,Rosenberg
134,11,9,116.50,8,157.52,2013,Regular,J.Stein,Berkowitz,J.Stein,Berkowitz
139,12,9,169.34,11,87.58,2013,Regular,Kogan,Berkowitz,Berkowitz,Kogan
143,13,2,195.88,9,185.48,2013,Regular,Berkowitz,Treshansky,Treshansky,Berkowitz
147,14,9,156.40,5,132.56,2013,Regular,Klein,Berkowitz,Berkowitz,Klein
160,1,9,91.26,1,150.82,2014,Regular,Zwick,Berkowitz,Zwick,Berkowitz
167,2,3,157.58,9,153.22,2014,Regular,Berkowitz,Lirtzman,Lirtzman,Berkowitz
...,...,...,...,...,...,...,...,...,...,...,...
380,13,9,173.02,5,106.14,2016,Regular,Klein,Berkowitz,Berkowitz,Klein
386,14,2,131.26,9,136.82,2016,Regular,Berkowitz,Treshansky,Berkowitz,Treshansky
403,1,7,103.34,9,108.26,2017,Regular,Berkowitz,Katz,Berkowitz,Katz
407,2,9,125.46,1,135.04,2017,Regular,Zwick,Berkowitz,Zwick,Berkowitz
414,3,9,138.70,2,100.20,2017,Regular,Treshansky,Berkowitz,Berkowitz,Treshansky
415,4,11,140.56,9,101.26,2017,Regular,Berkowitz,Kogan,Kogan,Berkowitz
421,5,9,112.44,3,134.54,2017,Regular,Lirtzman,Berkowitz,Lirtzman,Berkowitz
429,6,6,82.92,9,126.18,2017,Regular,Berkowitz,Rosenberg,Berkowitz,Rosenberg
432,7,9,154.52,8,112.74,2017,Regular,J.Stein,Berkowitz,Berkowitz,J.Stein
439,8,12,146.64,9,138.74,2017,Regular,Berkowitz,B.Stein/Kaminski,B.Stein/Kaminski,Berkowitz
440,9,9,139.16,5,112.32,2017,Regular,Klein,Berkowitz,Berkowitz,Klein
448,10,9,130.30,7,158.38,2017,Regular,Katz,Berkowitz,Katz,Berkowitz
453,11,1,100.40,9,163.86,2017,Regular,Berkowitz,Zwick,Berkowitz,Zwick
459,12,2,126.50,9,137.88,2017,Regular,Berkowitz,Treshansky,Berkowitz,Treshansky
464,13,11,130.52,9,119.66,2017,Regular,Berkowitz,Kogan,Kogan,Berkowitz
468,14,9,176.48,3,128.06,2017,Regular,Lirtzman,Berkowitz,Berkowitz,Lirtzman
483,1,9,156.66,1,121.88,2018,Regular,Zwick,Berkowitz,Berkowitz,Zwick
489,2,3,151.82,9,124.72,2018,Regular,Berkowitz,Lirtzman,Lirtzman,Berkowitz
494,3,11,142.06,9,119.56,2018,Regular,Berkowitz,Kogan,Kogan,Berkowitz
498,4,9,146.16,6,114.00,2018,Regular,Rosenberg,Berkowitz,Berkowitz,Rosenberg
502,5,2,126.14,9,139.14,2018,Regular,Berkowitz,Treshansky,Berkowitz,Treshansky
506,6,9,165.28,5,144.04,2018,Regular,Klein,Berkowitz,Berkowitz,Klein
510,7,9,141.42,12,119.66,2018,Regular,B.Stein/Kaminski,Berkowitz,Berkowitz,B.Stein/Kaminski
516,8,8,134.12,9,94.12,2018,Regular,Berkowitz,J.Stein,J.Stein,Berkowitz
522,9,9,173.16,7,128.54,2018,Regular,Katz,Berkowitz,Berkowitz,Katz
528,10,1,145.84,9,171.10,2018,Regular,Berkowitz,Zwick,Berkowitz,Zwick
534,11,9,161.20,3,114.32,2018,Regular,Lirtzman,Berkowitz,Berkowitz,Lirtzman
539,12,9,127.10,11,128.20,2018,Regular,Kogan,Berkowitz,Kogan,Berkowitz
543,13,6,105.22,9,84.20,2018,Regular,Berkowitz,Rosenberg,Rosenberg,Berkowitz
547,14,9,117.02,2,161.04,2018,Regular,Treshansky,Berkowitz,Treshansky,Berkowitz

In [31]:
berk.groupby(["Winner", "Loser"]).size()

Winner            Loser
B.Stein/Kaminski  Berkowitz            3
Berkowitz         B.Stein/Kaminski     4
                  J.Stein              4
                  Katz                 5
                  Klein                7
                  Kogan                8
                  Lirtzman             6
                  Rosenberg            8
                  Treshansky          10
                  Zwick                4
J.Stein           Berkowitz            7
Katz              Berkowitz            5
Klein             Berkowitz            5
Kogan             Berkowitz            5
Lirtzman          Berkowitz            5
Rosenberg         Berkowitz            2
Treshansky        Berkowitz            3
Zwick             Berkowitz            7
dtype: int64